drupal/sites/datawiki.local
drupal/sites/*/settings.php
drupal/sites/*/files
drupal/sites/*/files/
.DS_Store
.ds_store
qa/osqa/catalyze/settings_local.py
qa/osqa/catalyze/settings_local*.py
qa/faq_scraper/mt_results
qa/faq_scraper/output
qa/faq_scraper/questions
qa/faq_scraper/urls
