

/**
 * Primary styles
 *
 * Author: Tyler Stalder & Pete Fecteau
 */
 
/*---- ADMIN ----*/

#admin-menu {
    background:#533549;
    font-size: 9px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
	box-shadow:0px 0px 0px #000000;
}
#admin-menu-wrapper {
    overflow: hidden;
}
#admin-menu li.admin-menu-icon a {
    padding: 1px 8px 4px;
}
#admin-menu li.admin-menu-icon ul a {
    padding: 4px 8px;
}
#admin-menu li.admin-menu-icon img {
    vertical-align: bottom;
}
#admin-menu li.admin-menu-users a {
    padding-right: 22px;
}
#admin-menu li.admin-menu-action {
    float: right;
}
#admin-menu li.admin-menu-action a {
    border:0;
}
body.admin-menu {
    margin-top: 20px !important;
}
#admin-menu, #admin-menu ul {
    line-height: 1.4em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    z-index: 999;
}
#admin-menu ul {
    position: static;
}
#admin-menu ul a {
    background: none repeat scroll 0 0 transparent;
    border:0;
    color: #FFF;
    display: block;
    font-weight: normal;
    padding: 4px 8px;
    text-align: left;
    text-decoration: none;
}
#admin-menu ul li.admin-menu-tab a {
    border-right:0;
}
#admin-menu li li a {
    border:0;
}
#admin-menu li {
    background-image: none;
    float: left;
    height: 100%;
    list-style-image: none;
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
}
#admin-menu li.admin-menu-tab {
    background:none;
    padding-bottom: 1px;
}
#admin-menu li li {
    background: none repeat scroll 0 0 #533549;
    opacity: 1;
    width: 160px;
}
#admin-menu li li a {
    border:0;
}
#admin-menu li li li {
    opacity: 1;
}
#admin-menu li ul {
    background: none repeat scroll 0 0 transparent;
    display: none;
    left: -999em;
    line-height: 1.2em;
    margin: 0;
    position: absolute;
    width: 160px;
}
#admin-menu li li.expandable ul {
    margin: -20px 0 0 160px;
}
#admin-menu li:hover ul ul, #admin-menu li:hover ul ul ul, #admin-menu li:hover ul ul ul ul, #admin-menu li:hover ul ul ul ul ul, #admin-menu li.iehover ul ul, #admin-menu li.iehover ul ul ul, #admin-menu li.iehover ul ul ul ul, #admin-menu li.iehover ul ul ul ul ul {
    display: none;
    left: -999em;
}
#admin-menu li:hover ul, #admin-menu li li:hover ul, #admin-menu li li li:hover ul, #admin-menu li li li li:hover ul, #admin-menu li li li li li:hover ul, #admin-menu li.iehover ul, #admin-menu li li.iehover ul, #admin-menu li li li.iehover ul, #admin-menu li li li li.iehover ul, #admin-menu li li li li li.iehover ul {
    display: block;
    left: auto;
}
#admin-menu li.admin-menu-action:hover ul {
    right: 0;
}
#admin-menu li li.expandable {
    background:#533549;
}
#admin-menu li li:hover, #admin-menu li li.iehover {
    background-color: #992739;
}
#admin-menu li li:hover a, #admin-menu li li:hover li:hover a, #admin-menu li li:hover li:hover li:hover a {
    color: #FFFFFF;
}
#admin-menu li li.expandable:hover a, #admin-menu li li.expandable:hover li.expandable:hover a {
    color: #FFF;
}
#admin-menu li li.expandable:hover li a, #admin-menu li li.expandable:hover li.expandable:hover li a {
}
#admin-menu li li:hover li a, #admin-menu li li.iehover li a, #admin-menu li li.iehover li.iehover li a {
    color: #FFF;
}
#admin-menu li li.iehover a, #admin-menu li li.iehover li.iehover a, #admin-menu li li.iehover li.iehover li.iehover a {
    color: #FFFFFF;
    width: 90%;
}
html.js fieldset.collapsible div.fieldset-wrapper {
    overflow: visible;
}
body.admin-menu {
    margin-top: 0 !important;
}
tr.admin-menu-tweak-permissions-processed {
    cursor: pointer;
}
tr.admin-menu-tweak-permissions-processed td.module {
    border-top: 0 none;
}
#admin-menu li.admin-menu-account > a {
    background: #533549;
}

/*---- GENERAL ----*/
.page, .region {
    margin: 0 30px 0 170px;
}
.header-logo-container a {
	background:url(../images/header_bg.gif) repeat-x;
	height:57px;
	width:100%;
	position:absolute;
	top:10px;
	left:0;
	border:0;
}
em {
	}

h1 {
  font-size:30px;
  font-color:#DDD;
}

#header a {
  display:block;
  float:right;
  margin:30px 0 0 0;
}

h2 {
  font-size:24px;
  font-weight:normal;
  margin:0 0 15px;
  line-height:24px;
}

#main {
  height:100%;
  margin:110px 60px 0 55px;
}

#search {
  width:600px;
  margin-left:auto;
  margin-right:auto;
}

#project_query {
  margin-left:30px;
  width:400px;
}

body {
  padding-bottom:100px;
}

#footer {
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/footer_bg.gif) repeat-x bottom;
	height:95px;
	}

#featured {
  width:650px;
  margin-left:auto;
  margin-right:auto;
  margin-top:65px;
}
.category {
  width: 170px;
  height:170px;
  margin-right:25px;
  margin-left:-8px;
  float:left;
  cursor:pointer;
}

.category_count, .category_name {
  width:100%;
  color:#FFF;
  text-align:center;
  display:block;
  font-size:24px;
}

.category_count {
  margin-top:50px;
}

#category1 {
	background-color:#992739;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
#category1:hover {
	margin-top:2px;
	background-color:#992739;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	}
#category1 span {
	line-height:130%;
	}
#category2 {
	background-color:#ca673c;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
#category2:hover {
	margin-top:2px;
	background-color:#ca673c;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	}
#category2 span {
	line-height:130%;
	}
#category3 {
	background-color:#533549;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
#category3:hover {
	margin-top:2px;
	background-color:#533549;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	}
#category3 span {
	line-height:130%;
	}
a:link, a:visited {
	color:#992739;
	text-decoration:none;
}
a:hover, a:active {
	color:#533549;
	text-decoration:underline;
}

/*---- MESSAGES ----*/
	
div.status, table tr.ok {
    background-color: #F8FFF0;
}
div.status, .ok {
    color: #96a044;
}
div.status {
    border-color: #96a044;
	background:url(../images/message-24-ok.png) no-repeat #ecede1 ;
}

div.warning, table tr.warning {
    background-color:#ca673c;
}
div.warning, .warning {
    color: #ca673c;
}
div.warning {
	border-color: #ca673c;
    background: url(../images/message-24-warning.png) no-repeat #f1e8e4;
}

div.error, table tr.error {
    background-color: #efdcdf;
}
div.error, .error {
    color: #992739;
}
div.error {
    background: url(../images/message-24-error.png) no-repeat #efdcdf;
    border-color: #992739;
}

div.messages {
    background-position: 8px 6px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.messages-wrapper {
	margin:0 0 15px 0;
	}

/* ----- SEARCH ----- */

.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0;
}
.views-submit-button {
	margin:24px 0 0 0;
	}
.views-exposed-form {
	display:block;
	margin:30px 0 0 0;
	}
.views-exposed-form label {
	font-size:24px;
	font-weight:bold;
	color:#533549;
	line-height:130%;
	}
#views-exposed-form-likeminded-projects-page #edit-keys {
	margin-left:0;
	margin-top:2px;
	height:50px;
	border:#533549 2px groove;
	padding:3px 0 0 15px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:#CCC;
	font-size:24px;
	width:512px;
	}
#edit-submit-likeminded-projects {
	overflow:hidden;
	background:url(../images/submit-large.gif) 0 -2px no-repeat;
	width:150px;
	height:75px;
	border:0;
	cursor:pointer;
	font-size:0;
	}
#edit-submit-likeminded-projects:hover {
	background:url(../images/submit-large.gif) 0 -77px no-repeat;
	}
	
a#signin {
    background: none repeat scroll 0 0 #992739;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding: 5px;
    position: absolute;
    right: 60px;
    text-decoration: none;
    top: 37px;
}
a#signin:hover {
	text-decoration:underline;
	}

/*  ----  STYLESHEET CSS  ----  */
/*  ----  rewrites system CSS settings  ----  */

li a.active {
    color: #533549;
}
ul.primary {
  border-bottom: 2px solid #CCC;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
  color:#533549;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #CCC;
  border-color: #CCC;
  border-style: solid solid none solid;
  border-width: 2px;
  border-bottom:0;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
  -moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
ul.primary li.active a {
  background-color: #fff;
  border: 2px solid #CCC;
  border-bottom-color: #FFF;
}
ul.primary li a:hover {
  background-color: #ececec;
  border-color: #CCC;
  border-bottom-color: #FFF;
}
ul.secondary {
  border-bottom:0;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 2px solid #CCC; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
 border-bottom:0;
}

.styleguide-description {
    color: #CCC;
    font-size: 12px;
    margin: 0 0 5px 0;
}
div.styleguide {
    border-bottom: 0px solid #CCCCCC;
    border-top: 0px solid #CCCCCC;
    padding:0;
}
#styleguide-header {
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
	padding:5px;
}

/*---- LOGIN ----*/

.toboggan-unified #login-links, .toboggan-unified #login-message {
    font-size: 1.5em;
    line-height: 2.7;
    text-align: left;
}
.toboggan-unified #login-message {
	color:#533549;
	font-weight:bold;
}
.toboggan-unified #login-links a {
	border:0;
	color:#FFF;
	text-decoration:none;
    background-color:#e89a41;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	}
.toboggan-unified #login-links a.lt-active, .toboggan-unified #login-links a.lt-active:hover, .toboggan-unified #login-links a:hover {
	border:0;
	color:#FFF;
	text-decoration:none;
    margin-top:2px;
	background-color:#ca673c;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	} 
