.field-items,
.view .views-row {
  margin-bottom: 1em;
}

body.front h1.title,
body.front span.submitted {
  display: none;
}

body.front #block-system-user-menu {
  width: 25%;
  display: inline;
}

#block-system-user-menu ul li{
  list-style: none;
}
