body {
  background:#fff;
	font-family:Helvetica, Arial, sans-serif;
	color:#333;
	font-size:12px;
	padding:0;
	margin:0;
}

h1 { font-size:24px; line-height:150%; margin-bottom:15px;}
h2 { font-size:18px; line-height:150%; margin-bottom:15px;}
h3 { font-size:16px; line-height:150%; margin-bottom:15px;}
a:link, a:visited {
  color:#099;
  text-decoration:none;
  }
a:hover, a:active {
  color:#099;
  text-decoration:underline;
  }

.right { float:right; }
.left { float:left; }

#header {
    height:20px;
    padding:10px 20px;
    margin-bottom:20px;
    
    text-transform: uppercase;
    color:#fff;
    background-color: #533549;
    -webkit-box-shadow: 0px 2px 5px #666;
    -moz-box-shadow: 0px 2px 5px #666;
    box-shadow: 0px 2px 5px #666;
}

p {
    margin-top: 1em;
    line-height: 1.5em;
}

/* Header Elements */
.nav-links {
    /* for vertical alignment */
    padding-top:5px; 
}

#title {
    width:200px;
    color: #ffffff;
    font-size:18px;
}

#user-links {
    width:150px;
}

#header a {
    color: #ffffff;
    font-size: 11px;
}

.wrapper {
    width:960px;
    position:absolute;
    left:50%;
    margin-left:-480px;
}

#sidebar {
	width:320px;
	padding:0;
	float:left;
}

#sidebar {
    margin-bottom: 1em;
}

/* Generic Sidebar Box */
.sidebar_box {
    border-width: 1px 1px 8px 1px;
    -webkit-border-image: url(images/civicopia-widget-bottom-dropshadow.png) 0 0 10 0 stretch;
    border-image: url(images/civicopia-widget-bottom-dropshadow.png) 0 0 10 0 stretch;
    -moz-border-image: url(images/civicopia-widget-bottom-dropshadow.png) 0 0 10 0 stretch;
}

.sidebar_box .sidebar_box_image{
    width: 150px;
    height: 150px;
    background-color: #ff88c0;
    float: left;
    margin-right: 15px;
}

.sidebar_box .sidebar_box_title {
    text-transform: uppercase;
    background-color: #e89a41;
    padding: 10px 0 10px 20px;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.sidebar_box .sidebar_box_name {
    color: #992739;
    text-transform: uppercase;
}

.sidebar_box .sidebar_box_text {    
    color: #533549;
    margin-bottom: 10px;
}

.sidebar_box .sidebar_box_more_info a {
    color: #533549;
    font-size: 18px;
    text-transform: uppercase;
}

.arrow-icon {
    background-image: url(images/arrow-right.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 35px;
}

.target-icon {
    background-image: url(images/target-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 35px;
}

.sidebar_box .sidebar_box_content {
    padding: 10px 10px 20px 20px;
    background-color: #ffffff;
    font-size: 12px;
    border: 1px solid #ccc;
    min-height: 150px;
}

.sb_container {
    margin-bottom: 20px;
}
/* END Generic Sidebar box */

/* Project Metric Block Style */
#metric_block {
  background-color: #533549;
  padding: 20px;
}

#metric_content {
  background-color: #ffffff;
}

#metric_content ul {
  text-transform: uppercase;
  color: #533549;
  font-weight: bold;
  margin-left: 10px;
}

#metric_content li {
  display:block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size:1.5em;
}

#metric_content .metric_value {
  font-size: 1.8em;
  color: #992739;
  margin-right: 10px;
}

#metric_content #join_project {
    width: 320px;
    height: 40px;
    background-color: #992739;
    margin-left: -10px;
}

#metric_content #join_project a {
  color: #ffffff;
  text-decoration: underline;
}
/* END Project Metric Block */

/* Main Content Section */
#content {
    background-color: #e9e9e9;
	float:left;
    width: 570px;
    padding: 20px;
	margin-right:20px;
}

.wrapper > header > h1 {
    font-weight: bold;
    font-size: 4.2em;
    margin-bottom: -10px;
    text-transform: uppercase;
    color: #992739;
}

.wrapper > header > h2 {
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;
}
.wrapper > header > h2 > a {
    color: #992739;
}

.project_text {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
}

.project_overview {
    background-color: transparent;
    color: white;
    margin-left: -40px;
    margin-right: -20px;
    margin-bottom: 1em;
    
    border-width: 0px 0px 10px 0px;
    -webkit-border-image: url(images/project-overview-dropshadow.png) 0 0 10 0 stretch;
    border-image: url(images/project-overview-dropshadow.png) 0 0 10 0 stretch;
}

.project_overview > * {
    background-color: #333333;
    padding-left: 40px;
    padding-right: 20px;
}

.project_overview > p {
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 1em;
}

.project_overview > header > h1,
.project_recipe > header > h1 {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.2em;
    padding-top: 0.5em;
    margin-bottom: 0px;
}

.project_recipe > header > h2 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/* END Main Content Section
